<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Author Settings</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
  </head>
  <body>
    <div class="col-md-12 mt-3">
      <a href="/author/home" class="btn btn-link">
        <i class="bi bi-box-arrow-in-left"></i> 
        Back to Author Home
      </a>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h3>Author Settings</h3>
          <% if (status === 500) { %>
            <div class="alert alert-danger" role="alert">
              "Server Error! Please try again"
            </div>
          <% } else if (status === 409) { %>
            <div class="alert alert-danger" role="alert">
              "Email already exists! Please try again with a different email."
            </div>
          <% } %>
          <form action="/author/updateSettings" method="POST">
            <div class="form-group">
              <label for="authorName">Name:</label>
              <input
                type="text"
                class="form-control"
                id="authorName"
                name="name"
                value="<%= author.name %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="displayName">Display Name:</label>
              <input
                type="text"
                class="form-control"
                id="displayName"
                name="displayName"
                value="<%= author.displayName %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                value="<%= author.email %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="blogTitle">Blog Title:</label>
              <input
                type="text"
                class="form-control"
                id="blogTitle"
                name="blogTitle"
                value="<%= author.blogTitle %>"
                required
              />
            </div>
            <div class="form-group">
              <label for="blogSubtitle">Blog Subtitle:</label>
              <input
                type="text"
                class="form-control"
                id="blogSubtitle"
                name="blogSubtitle"
                value="<%= author.blogSubtitle %>"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
      integrity="sha384-ZMpEmeAnK7Y5XY2hN2QrRnJ+7j0C6Gmf+Z6p1Q2i7L5ISJ6JkRP5YXz38HJveqef"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgI2ftITFf8vvfuKBg6vr1gzp06xF40jBJeK6ij0l8CB7TugQ1S"
      crossorigin="anonymous"
    ></script>
  </body>
</html>