<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reader Page</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/nav-bar') %>
    <div class="container">
      <div class="my-4">
        <h2>Newly Released</h2>
        <div class="row">
            <% newArticles.forEach(function(article) { %> 
                <div class="col-md-4">
                  <a href = "/article/<%= article.id %>">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><%= article.title %></h5>
                          <h6 class="card-subtitle mb-2 text-muted">
                              By <%= article.authorName %>  <%= article.createdAt %>
                          </h6>
                          <p class="card-text"><%= cutText(article.content, 25) %></p>
                      </div>
                  </div>
                </a>
                    
                </div>
            <% }); %>
        </div>
      </div>
      <div class="my-4">
        <h2>Featured Articles</h2>
        <div class="row">
          <% featuredArticles.forEach(function(article) { %> 
            <div class="col-md-12 mb-3">
              <a href = "/article/<%= article.id %>"></a>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <h4 class="card-title">
                          <%= article.title %>
                        </h4>
                        <h6 class="card-subtitle mb-1 text-muted">
                          By <%= article.authorName %>
                        </h6>
                        <h6 class="card-subtitle mb-1 text-muted">
                          <%= article.createdAt %>
                        </h6>
                      </div>
                      <div class="col-md-8">
                        <p class="card-text"><%= cutText(article.content, 25) %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="my-4">
        <h2>Visit Other Blogs</h2>
        <div class="row">
          <% blogs.forEach(function(blog) { %> 
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.blogTitle %></h5>
                  <h6 class="card-subtitle mb-1 text-muted">
                    <%= blog.blogSubtitle %>
                  </h6>
                  <h6 class="card-subtitle mb-2 text-muted">By <%= blog.name %></h6>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
