<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reader Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"> 
    
    <style>
      a, a:hover {
        text-decoration: none;
      }

      .card {
        --card-border-width: 1px;
        --card-border-color: white;
        --card-border-radius: 5px;
        --card-color: #000;
        --card-bg: white;
        --card-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        border-width: var(--card-border-width);
        border-color: var(--card-border-color);
        border-radius: var(--card-border-radius);
        background-color: var(--card-bg);
        color: var(--card-color);
        box-shadow: var(--card-box-shadow);
    }

      .card-text{
        font-size: 15px;
      }

      .card-subtitle {
        font-size: 13px;
        opacity: 50%;
      }
    </style>
  </head>
  <body>
    <%- include('partials/nav-bar') %>
    <div class="mx-4 p-0 d-flex" style="min-height: 100vh;">
      <div class="col-9">
        <div class="my-4">
          <!-- Render 2 new articles -->
          <h4 class="fw-bold">Newly Released</h4>
          <div class="row">
            <% newArticles.forEach(function(article) { %> 
              <div class="col-md-6 mb-4">
                <a href="/article/<%= article.id %>">
                  <div class="card" style="height: 225px;">
                    <div class="card-body d-flex flex-column" style="height: 100%;">
                      <p class="card-title fw-bold mb-0"><%= article.title %></p>
                      <p class="card-subtitle mb-2 text-muted">
                        By <%= article.authorName %> on <%= article.publishedAt %>
                      </p>
                      <p class="card-text"><%= cutText(article.content, 15) %></p>
              
                      <div class="mt-auto" style="font-size: 15px;">
                        <div class="text-center me-2 rounded" style="display: inline-block; width: auto; color: #005B97;">
                          <i class="bi bi-hand-thumbs-up"></i>
                          <span class=""><%= article.likes %> &nbsp; •</span>
                        </div>
                        <div class="text-center me-2 rounded" style="display: inline-block; width: auto; color: #005B97;">
                          <i class="bi bi-chat-left "></i>
                          <span class=""> <%= article.comments %> &nbsp;  •</span>
                        </div>
                        <div class="text-center me-2 rounded" style="display: inline-block; width: auto; color: #005B97;">
                          <i class="bi bi-eye "></i>
                          <span class=""> <%= article.views %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>              
            <% }); %>
          </div>
        </div>
        
        <!-- Render featured articles -->
        <div class="">
          <h4 class="fw-bold">Featured Articles</h4>
          <div class="row">
            <% featuredArticles.forEach(function(article) { %> 
              <div class="col-md-12 mb-3">
                <a href = "/article/<%= article.id %>">
                  <div class="card">
                    <div class="card-body">
                      <div class="row ">
                        <div class="col-md-4">
                          <p class="card-title pb-0 fw-bold">
                            <%= article.title %>
                          </p>
                          <h6 class="card-subtitle mb-1 text-muted opacity-75">
                            By <%= article.authorName %>
                          </h6>
                          <h6 class="card-subtitle mb-3 text-muted ">
                            on <%= article.publishedAt %>
                          </h6>
                          <div class="text-center me-2 rounded" style="display: inline-block; width: auto; color: #005B97; font-size: 15px;">
                            <i class="bi bi-hand-thumbs-up"></i>
                            <span class=""><%= article.likes %> &nbsp; •</span>
                          </div>
                          <div class="text-center me-2 rounded" style="display: inline-block; width: auto; color: #005B97; font-size: 15px;">
                            <i class="bi bi-chat-left "></i>
                            <span class=""> <%= article.comments %> &nbsp;  •</span>
                          </div>
                          <div class="text-center me-2 rounded" style="display: inline-block; width: auto; color: #005B97; font-size: 15px;">
                            <i class="bi bi-eye "></i>
                            <span class=""> <%= article.views %></span>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <p class="card-text"> <%= cutText(article.content, 30) %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            <% }); %>
          </div>
        </div>
      </div>

      <!-- Render the blogs of authors -->
      <div class="my-4 col-3 ms-4 mt-0 mb-0" style="background-color: #005B97;">
        <h4 class="fw-bold mt-4 text-center text-white">Visit Other Blogs</h4>
        <div class="col h-auto p-4 pt-2 rounded">
          <% blogs.forEach(function(blog) { %> 
            <a href="/reader/<%= blog.id %>/blog" class="text-decoration-none no-link-style">
              <div class="">
                <div class="mb-3 card">
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.blogTitle %></h5>
                    <h6 class="card-text mb-1 text-muted">
                      <%= blog.blogSubtitle %>
                    </h6>
                    <h6 class="card-subtitle mb-2 text-muted">By <%= blog.displayName %></h6>
                  </div>
                </div>
              </div>
            </a>
          <% }); %>
        </div>
      </div>
    </div>
</body>
</html>
